<section id="contact" class="contact">
  <div class="container">
    <h4>contact</h4>
    <div class="divider"></div>
    <form>
      <div class="row">
	<div class="six columns">
	  <input class="u-full-width" type="text" placeholder="Name" id="nameInput">
	</div>
	<div class="six columns">
	  <input class="u-full-width" type="email" placeholder="E-mail" id="emailInput">
	</div>
      </div>
      <textarea class="u-full-width" placeholder="Message" id="messageInput"></textarea>
      <input class="button-primary" type="submit" value="Send" id="sendEmail">
    </form>
  </div>
</section>
